html,
body,
#root,
.app {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
  text-align: center;
}

/* Header */
header {
  background-color: tomato;
  height: 60px;
  line-height: 60px;
  color: white;
  font-weight: bold;
}

/* Footer */
footer {
  background-color: slategray;
  height: 100px;
  line-height: 100px;
  color: white;
  font-weight: bold;
  margin-top: auto; /* Push footer to bottom */
}

/* Main container */
.container {
  display: flex;
  width:"100%";
  flex: 1; /* Take available space between header and footer */
}

/* Left column (Navigation) */
nav {
  background-color: coral;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Middle column (Main) */
main {
  background-color: moccasin;
  flex: 1; /* Fluid width */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Right column (Ads) */
aside {
  background-color: sandybrown;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
